<div style="text-align: center;">
  <h1  style="font-weight: 600px; font-size: 26; color: #555;">Forgot Password ?</h1>
  <p>Please click the link below to reset your Password</p>
  <a href="<%= verifyHref %>">Reset Password</a>
</div>
